@use '../../constants';

.web-clipper-comment-container {
  position: relative;
}

.web-clipper-comment-main-button {
  all: initial;
  display: flex;
  cursor: pointer;
  color: #8c959f5e;

  &-active {
    color: #8c959f;
  }
}

.web-clipper-comment-input {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);

  & > textarea {
    @include constants.textarea;
  }

  .web-clipper-comment-button-container {
    position: absolute;
    right: 10px;
    bottom: 14px;

    & > button {
      all: initial;
      background: #3c6cd5;
      color: #fff;
      font-size: 14px;
      width: 50px;
      text-align: center;
      bottom: 10px;
      font-family: inherit;
      padding: 2px 0;
      border-radius: 4px;
      cursor: pointer;

      &:disabled {
        color: rgba(255, 255, 255, 0.7);
        cursor: not-allowed;
      }
    }
  }
}
