@use '../../constants';

.web-clipper-comment-container {
  position: relative;
}

.web-clipper-comment-button {
  all: initial;
  display: flex;
  cursor: pointer;
  color: #8c959f5e;

  &-active {
    color: #8c959f;
  }
}

.web-clipper-comment-input {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);

  & > textarea {
    @include constants.textarea;
  }
}
