@use '../../constants';

.web-clipper-mark-manager-tooltip {
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;

  .web-clipper-mark-manager-buttons {
    display: flex;
    background-color: constants.$tooltip-color;
    border-radius: 6px;
    padding: 0 8px;
    width: fit-content;
  }

  .web-clipper-mark-manager-main-button {
    all: initial;
    cursor: pointer;
    width: 32px;
    height: 32px;
    color: #d0d7de;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &-hover {
      color: #fff;
    }

    & > svg {
      height: 18px;
      width: 18px;
    }
  }

  .web-clipper-mark-manager-colors {
    margin-bottom: 4px;
    background-color: constants.$tooltip-color;
    border-radius: 6px;
    align-self: flex-end;
    width: fit-content;
    padding: 4px 6px;
  }

  button[data-web-clipper-color] {
    all: initial;
    width: 18px;
    height: 18px;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }

  @each $key, $value in constants.$mark-colors {
    button[data-web-clipper-color='#{$key}'] {
      background-color: $value;
    }
  }

  .web-clipper-mark-manager-comment > textarea {
    @include constants.textarea;
  }
}
