@use '../constants';

#web-clipper-tooltip-container {
  position: fixed;

  &.web-clipper-tooltip-container-reversed {
    transform: translate(-100%, -100%);
  }

  .web-clipper-buttons {
    display: flex;
  }

  * {
    all: initial;
  }

  button[data-web-clipper-color] {
    width: 24px;
    height: 24px;
    cursor: pointer;

    &[disabled] {
      opacity: 0.7;
    }
  }

  @each $key, $value in constants.$mark-colors {
    button[data-web-clipper-color='#{$key}'] {
      background-color: $value;
    }
  }
}
