@use '../constants';

#web-clipper-tooltip-container {
  position: fixed;

  &.web-clipper-tooltip-container-reversed {
    transform: translate(-100%, -100%);
  }

  .web-clipper-buttons {
    display: flex;
  }

  * {
    all: initial;
  }

  button[data-web-clipper-color] {
    width: 24px;
    height: 24px;
    cursor: pointer;

    &[disabled] {
      opacity: 0.7;
    }
  }

  button[data-web-clipper-color='GREEN'] {
    background-color: constants.$green;
  }
  button[data-web-clipper-color='YELLOW'] {
    background-color: constants.$yellow;
  }
  button[data-web-clipper-color='PINK'] {
    background-color: constants.$pink;
  }
  button[data-web-clipper-color='BLUE'] {
    background-color: constants.$blue;
  }
  button[data-web-clipper-color='PURPLE'] {
    background-color: constants.$purple;
  }
}
