@use 'sass:color';
@use '../../common/view/constants';

.web-clipper-mark {
  all: unset;
}

@each $key, $value in constants.$mark-colors {
  .web-clipper-mark-#{$key} {
    background-color: $value;

    &.web-clipper-mark-unpersisted {
      text-decoration: underline dotted currentColor 2px;
    }

    &.web-clipper-mark-hover {
      background-color: color.adjust($value, $lightness: 8%);
    }
  }
}
